@import '../../styles/Variables.scss';

.footer {
    // padding: 50px $paddingHorizontal;
    text-align: center;
    background-color: $black;
    padding-top: 1px;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0, 50% 30%);
}

.footer section {
    background-color: $footerColor;
    padding: 50px $paddingHorizontal; 
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0, 50% 30%);
    transform: translate(0, 0.5px);
    color: $black;
}

.footer h4 {
    margin-top: 60px;
}