@import './Variables.scss';

html,
body {
  padding: 0;
  margin: 0;

  // NextJS-Change-Default-Font-To-Google-Fonts
  font-family: 'Montserrat', sans-serif;
  background-color: $canvas;
}

::selection {
  background: #60ae7e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
