/* Colors */
$canvas: #f7efe7;
$white: white;
$navbarColor: #DDDDDD;
$navHeight: 80px;
$footerColor: #DDDDDD;
$blackOpaque: #000000cc;
$black: #000;
$green: #003941;

/* Structuring */
$paddingHorizontal: 2%;
$menuHeight: 80px;

/* Button Colors */
$buttonColor1: #7171bd;
$buttonColorHOver1: #4242a0;
$buttonColor2: #de684a;
$buttonColorHOver2: #a04029;

/* Templates */
@mixin buttonStyle($width, $buttonColor, $buttonColorHover) {
    width: $width;
    height: 50px;
    background-color: $buttonColor;
    border: none;
    border-radius: 2px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        background-color: $buttonColorHover;
    }
}

@mixin flexAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
}