@import '../../styles/Variables.scss';

.form-card {
    font-weight: bold;
    font-size: 1.4rem;
    width: 60%;
    margin: auto;
}

.form-card > div {
    border-radius: 30px;
    padding: 20px 40px 40px;
}

.input-div { 
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-card input, .form-card textarea {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 2rem;
    border-radius: 20px;
    border: none;
    transition: outline 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.form-card input {
    height: 45px;
    border: 1px black solid;
}

.form-card textarea {
    resize: none;
    height: 100px;
    padding-top: 1rem;
    border: 1px black solid;
}

.input:focus {
    background-color: #e8e8f1;
    outline: solid #a2a5d6 2px;
    box-shadow: #a8b5ce40 0px 4px 8px -2px, #b8c1d114 0px 0px 0px 1px;
}

.input-div label {
    margin-left: 20px;
    margin-bottom: 15px;
}